@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default;
}
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  --color-primary: #c77cff; /* Primary Purple */
  --color-primary-content: #dabeed; /* Secondary Purple */
  --color-secondary: #4646cf; /* Secondary Blue */
  --color-secondary-content: #e0eaff; /* Primary Blue */
  --color-accent: #ffcb64; /* Primary Orange */
  --color-accent-content: #f35b04; /* Secondary Orange */
  --color-warning: #ffb92e; /* Secondary Yellow */
  --color-neutral: #000000; /* Black */
  --color-neutral-content: #fffee0; /* Primary Beige */
  --color-base-100: #ffffff; /* White */
}
